<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Putra Putri Mandiri</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
</body>
  <div class="container-fluid">
    <div class="col-xs-12">

      <h2 class="text-center">Saldo Dana</h2>
      {% language 'id' %}
        <div class="date">
          {% now "d F Y" %}
        </div>
      {% endlanguage %}

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center"></th>
              <th class="text-center">Jumlah</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td>{{ pendapatan }}</td>
              <td>{{ belanja }}</td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</body>
</body>
</html>