<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load mathfilters %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Putra Putri Mandiri</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
</body>
  <div class="container-fluid">
    <div class="col-xs-12">

      <h2 class="text-center">Saldo Dana</h2>
      {% language 'id' %}
        <div class="date">
          {% now "d F Y" %}
        </div>
      {% endlanguage %}

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <td>Pendapatan</td>
              <td class="text-center">{{ pendapatan|intcomma }}</td>
            </tr>
            <tr>
              <td>Belanja</td>
              <td class="text-center">{{ belanja|abs|intcomma }}</td>
            </tr>
            <tr>
              <td>Saldo Dana</td>
              <td class="text-center">{{ pendapatan|add:belanja|intcomma }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2 class="text-center">Neraca</h2>

      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Asset</td>
              <td class="text-center">{{ totalasset|intcomma }}</td>
              <td>Hutang</td>
              <td class="text-center">{{ totalutang|intcomma }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Sisa Dana</td>
              <td class="text-center">{{ pendapatan|add:belanja|intcomma }}</td>
            </tr>
            <tr>
              <td>Total Asset</td>
              <td class="text-center">{{ totalasset|intcomma }}</td>
              <td>Total Hutang dan Modal</td>
              <td class="text-center">{{ pendapatan|add:belanja|add:totalutang|intcomma }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</body>
</body>
</html>